<div class="container">
  <div class="logo">
    <img src="assets/logo-hide.svg" alt="">
  </div>
  <div class="form-group">
    <!-- <form>
      <div class="input-container">
        <input placeholder="Email o nombre de usuario" type="text">
      </div>
      <div class="input-container">
        <input placeholder="Contraseña" type="text">
      </div>
      <div class="button-container">
        <button class="login">
          Iniciar
        </button>
      </div>
      <div class="button-container">
        <button class="register">
          Registrarse
        </button>
      </div>
    </form> -->

    <form>
      <div class="input-container">
        <input placeholder="Nombre de usuario" type="text">
      </div>
      <div class="input-container">
        <input placeholder="Email" type="text">
      </div>
      <div class="input-container">
        <input placeholder="Contraseña" type="text">
      </div>
      <div class="input-container">
        <input placeholder="Repite la contraseña" type="text">
      </div>
      <div class="button-container">
        <button class="login">
          Registrarse
        </button>
      </div>
      <div class="button-container">
        <button class="register">
          Ya tengo una sesion
        </button>
      </div>
    </form>
  </div>
</div>
