<div class="container">
  <img class="logo" src="assets/logo-hide.svg" alt="">
  <div class="form-group">
    <form>
      <div class="input-container">
        <input type="text">
      </div>
      <div class="input-container">
        <input type="text">
      </div>
      <div class="button-container">
        <button class="login">
          Iniciar
        </button>
      </div>
      <div class="button-container">
        <button class="register">
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>
